@{
    ViewBag.Title = "About";
}
<style>
    .card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title1 {
  color: grey;
  font-size: 18px;
}

button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a1 {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button1:hover, a1:hover {
  opacity: 0.7;
}
</style>
<div class="container">
    <div class="col-md-3 text-center">
        <div class="panel panel-info text-center">
            <div class="panel panel-heading">Director's Message</div>
            <div class="panel panel-body">

                <div class="card1">
                    <img src="~/Multimedia/Image/sahuji1.jpeg" alt="John" style="width:100%">
                    <h3>Mr. S.N. Sahu</h3>
                    <p class="title">CEO & Founder</p>
                    <p>M.M.C. Soft Systems</p>
                    <p>We are here at M.M.C. Soft Systems commited to provide the best class of IT Services.</p>
                    <div style="margin: 24px 0;">
                        <a1 href="#"><i class="fa fa-facebook"></i></a1>
                        <a1 href="#"><i class="fa fa-linkedin"></i></a1>
                        
                    </div>
                    <p><button1>Contact</button1></p>
                </div>

                
               
            </div>
           
        </div>
    </div>

    <div class="col-md-9">
        <div class="container">
            <div class="panel panel-info">
                <div class="panel panel-heading"><strong style="color:maroon">About Us</strong></div>
                <div class="panel panel-body">
                    <p style="font-size:small;text-align:justify;">
                        MMC Soft Systems is one of the leading in designing and development company which blends strategic business sense with creativity and the latest technology to help businesses around the globe with software and multimedia development, web design and online marketing. We have 250+ clients in all over India.
                        We at MMC also help clients reduce costs, enhance organizational flexibility, and improve their business and IT performance.
                        MMC offers a comprehensive suite of development and design to fit your business. We works closely with clients to develop the best possible solution for their company. From our extensive experience in software and web development, MMC has developed a wide range of solutions for various businesses across numerous industries. Our development work over the years has involved Payroll management software, custom software development, web reporting solutions and social media solutions.
                        MMC is an Indian software resource center engaged in catering to the software requirements of large multinationals and domestic industries in India, having corporate office in New Delhi. MMC was established in 1991. MMC is broadly engaged in the following Product & Services.
                    </p>
                    <strong style="color:maroon"> Off Shore Developement & Infrastructure</strong>
                    <p style="font-size:small;text-align:justify;">Can provide space (upto 80,000 square feet), infrastructure (hardware and other equipment), recruitment of professionals, management of facilities and complete services to set up software development facility in India. This could be provided either on lease or as a tie-up.</p>
                    <strong style="color:maroon">Software Products</strong>
                    <p style="font-size:small;text-align:justify;">
                        MMC is mainly focused on the development of products related to HRMS, Recruitment & Payroll. Another area of focus is customized Financial Accounting which branches into products like micro ERP (Miracle) Manufacturing accounting including Production planning & control material management and other products like School Accounting & Library accounting.

                        All the software products are highly flexible and are available on Visual Basic as front-end and SQL or ORACLE as backend. All products are open-ended and require very little customization. For example Payroll software is totally rules driven and the
                    </p>
                    <strong style="color:maroon">Software Professonals</strong>
                    <p style="font-size:small;text-align:justify;">MMC can arrange to send I T Professionals for onsite consultancy in different categories like Oracle, Visual Basic, .Net, C# etc.</p>

                </div>

            </div>
           
        </div>
    </div>
</div>



<br /> 