
@{
    ViewBag.Title = "Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">Inventory Management System</div>
        <div class="panel panel-body">
            <div class="col-md-12">
                <img src="~/Multimedia/Image/Invoice-2.jpg" class="img-thumbnail" style="width:100%;height:200px;" />
                <h4 style="color:maroon;">Inventory Management System</h4>
                <h4>
                    Worried about managing your inventory? Get Master Inventory, the best inventory management software to run your business in a smooth and hassle free manner!
                </h4>
               
                <strong style="color:maroon">Inventory Management System</strong>

                <ul>
                    <li>Taking stock of the goods and keeping track of the inventory is essential and for that every business should have a inventory tracker whether it is a garment business or a restaurant or a grocery store..</li>
                    <li>Stock management software solutions are thus essential for the smooth functioning of such businesses.</li>
                    <li>HDPOS Smart Inventory software is just the right fit for your business if you are looking to manage your stock, monitor it and make corrections with the inventory control system to ensure seamless business operations.</li>
                    <li>HDPOS provides complete Stock and inventory management solution for all your products.</li>
                    <li>Read on to learn about the features of this innovative and dynamic stock inventory management software</li>
                    <li>Easily Transfer and track your Stock from one department to another with the help of best inventory tracking software .</li>
                   
                </ul>
                <strong style="color:maroon;">Features & Benifits</strong>
                <ul>
                    <li>Stock Monitoring Software helps you monitor your mismatched stock.</li>
                    <li>Manage your Dump Stock.</li>
                    <li>You can directly do PO and stock transfer request also.</li>
                    <li>Export your item list with stock to excel easily.</li>
                    <li>Export all sales from one warehouse to another warehouse with a click of a button.</li>
                    <li>Print Barcode Stickers from barcode inventory management software</li>
                    <li>DPOS stock inventory system allows you to view batch wise stock details of an item from stock manager.</li>
                    <li>View Stock Drill Down of all items in your database.</li>
                    <li>You can also check in and out transfers of items from one warehouse to another.</li>
                    <li>Unlimited Helpdesk support</li>

                </ul>
               
            </div>

        </div>
    </div>
</div>