
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">Our Success Story and clients list:</div>

                <div class="panel-body" style="font-size:smaller;">

                @* image row starts *@
                <div class="row">
                    <div class="col-md-6"><img src="~/Multimedia/Image/customerl.jpg" style="width:100%;height:100px;" /></div>
                    <div class="col-md-6"><img src="~/Multimedia/Image/customer1.jpg" style="width:100%;height:100px;" /></div>
                </div><br />
                @* image row ends *@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-info">
                               
                                <div class="panel panel-heading">Noida(UP)</div>

                                <div class="panel panel-body">
                                    <table>
                                        <tr><td>Sibrama New Age.</td><td>Rediant Exports</td></tr>
                                        <tr><td>BL International.</td><td>Tech Creations</td></tr>
                                        <tr><td>Bodycare Products Pvt Ltd.</td><td>Rashmi Fashion</td></tr>
                                        <tr><td>Paramount Products Pvt Ltd.</td><td>NS Exports</td></tr>
                                        <tr><td>Meenu Creation.</td><td>Anupam Constructions</td></tr>
                                        <tr><td>Sri Bharat International</td><td>Aloka Exports</td></tr>
                                        <tr><td>Radnik Auto Exports</td><td>Aspiration International</td></tr>
                                        <tr><td>Uniparts India Pvt Ltd</td><td>ATM Exports</td></tr>
                                        <tr><td>Uniproduct Pvt Ltd</td><td>SDS Exports</td></tr>
                                        <tr><td>Viswas International</td><td>SGS Exports</td></tr>
                                        <tr><td>Team Creation.</td><td>Girdhar International</td></tr>
                                        <tr><td>Pooja International.</td><td>Forever New</td></tr>
                                        <tr><td>Arnit Creation</td><td>Indostate Exports</td></tr>
                                        <tr><td>Dimple Creation</td><td>Indoslate Exports</td></tr>
                                        <tr><td>S.N.D. Inc.</td><td>Perfection Handicraft</td></tr>
                                        <tr><td>Abhinav Export</td><td>Windson</td></tr>
                                        <tr><td>Aabis Design</td><td>ID Exports</td></tr>
                                        <tr><td>Avid Apparels</td><td>Nishan Exports</td></tr>
                                        <tr><td>Sirius Foods Pvt. Ltd.</td><td>Jumax Exports</td></tr>
                                        <tr><td>Amko Exports</td><td>Naval Exports</td></tr>
                                        <tr><td>Aanand Incorporation</td><td>Kemo Clothing</td></tr>
                                        <tr><td>Anha Exports</td><td>Venus India</td></tr>
                                        <tr><td>ANN International</td><td>KSP Inc.</td></tr>
                                        <tr><td>AOV International</td><td>Krishna Murari</td></tr>
                                        <tr><td>Sunshine Enterprises</td><td>SKI Exports</td></tr>
                                        <tr><td>Mosanite Apparels</td><td>Laboni Exports</td></tr>
                                        <tr><td>Classic Concept</td><td>Kaytex Exports</td></tr>
                                        <tr><td>Creative Ideas</td><td>La Demore(P)Ltd</td></tr>
                                        <tr><td>CXC Infotech Pvt Ltd.</td><td>Mridul Exports</td></tr>
                                        <tr><td>Daks India Ltd.</td><td>Nath Brothers</td></tr>
                                        <tr><td>Devine Design</td><td>Net Paradism Exports</td></tr>
                                        <tr><td>Deeas Creations</td><td>New Ombre Fashion</td></tr>
                                        <tr><td>Creative Clothex</td><td>Nirmal Fiber</td></tr>
                                        <tr><td>Lotus Designs</td><td>Pacific Garments</td></tr>
                                        <tr><td>Elize Embroidery</td><td>Paragon Exports</td></tr>
                                        <tr><td>Envogue Wood Working(P)Ltd</td><td>Raghav Lifestyle</td></tr>
                                        <tr><td>Erome Exports</td><td>Pinacle Exports</td></tr>
                                        <tr><td>Ethinic Craft Arts</td><td>Poly Premier</td></tr>
                                        <tr><td>Epitom Systems Pvt Ltd</td><td>Prakash Textiles</td></tr>
                                        <tr><td>Fabstract Clothing India</td><td>Priti Wears</td></tr>
                                        <tr><td>Fancy Fashion</td><td>Plasma Impex</td></tr>
                                        <tr><td>Fashion Maker pvt Ltd</td><td>Supreme Impex</td></tr>
                                        <tr><td>Gripwell Fasteners Pvt Ltd</td><td>Quality Needles</td></tr>
                                        <tr><td>GK Enterprises</td><td>Tex Knots(P)Ltd.</td></tr>
                                        <tr><td>GNA Exports</td><td>Rateria Exports</td></tr>
                                        <tr><td>Green Finger Pvt Ltd</td><td>RGC Inc.</td></tr>
                                        <tr><td>G Tech Splicing Pvt Ltd</td><td>Sub International</td></tr>
                                        <tr><td>Unisole India Pvt Ltd.</td><td>Saroj International</td></tr>
                                        <tr><td>HimmatSinghka Exports</td><td>Scorpio Exports</td></tr>
                                        <tr><td>Indian Stichers</td><td>Siddharth Exports</td></tr>
                                        <tr><td>Isha Designs</td><td>Signate Exports</td></tr>
                                        <tr><td>JBJ Technologies</td><td>Sperry Plast</td></tr>
                                        <tr><td>Ishmaan International</td><td>Sunlord Apparels</td></tr>
                                        <tr><td>Jaybee International</td><td>Super House</td></tr>
                                        <tr><td>Jai Shree International</td><td>Super Oversease</td></tr>
                                        <tr><td>JPan Tubular Components(P)Ltd</td><td>Swati Exim</td></tr>
                                        <tr><td>CST Technologies Pvt Ltd.</td><td>United Exim</td></tr>
                                        <tr><td>Kavita Women Wears</td><td>Wearwell Exports</td></tr>
                                        <tr><td>Laaj Exports</td><td>Aa Resource</td></tr>
                                        <tr><td>Laxmi Fab Dying Pvt Ltd</td><td>Tex Style</td></tr>
                                        <tr><td>Maya Exports</td><td>Ace Honda</td></tr>
                                        <tr><td>Spery Plast Pvt Ltd.</td><td>Rahul Fashion</td></tr>
                                        <tr><td>RNA Exports</td><td>Shirngar Exports</td></tr>
                                        <tr><td>Mangolia Martinq(P) Ltd</td><td>Vimal Exports</td></tr>
                                        <tr><td>Mira Exim Ltd</td><td>AV International</td></tr>
                                        <tr><td>Millenium Designs Pvt Ltd.</td><td>Jato Garments</td></tr>
                                        <tr><td>Wings Oversease</td><td>Shantanu Nikhil</td></tr>
                                        <tr><td>Soft Options</td><td>Siddha Corp</td></tr>
                                        <tr><td>Sara Creations</td><td>Modprint Exports</td></tr>
                                        <tr><td>Certitude Exports</td><td>Asia Excel</td></tr>
                                        <tr><td>Nineteen Shop</td><td>Sharco India</td></tr>
                                        <tr><td>Paradigm Apparels</td><td>Chemico Processing</td></tr>
                                        <tr><td>Unique Clothing</td><td>Lotus Exim</td></tr>
                                        <tr><td>Krishna Sales</td><td>Monarch Apparels</td></tr>
                                        <tr><td>Muster Clothing</td><td>Nalini Exports</td></tr>
                                        <tr><td>Rajlaxmi Cottonmills</td><td>Surabhi Satcom(P)Ltd</td></tr>
                                        <tr><td>Solar Print</td><td>Erum Exports Pvt Ltd.</td></tr>
                                        <tr><td>Frontier Print Pvt Ltd</td><td>Aspiration Clothing</td></tr>
                                        <tr><td>Naanki Apparels</td><td>Link Apparel Exports</td></tr>
                                        <tr><td>SyadWad Impex Pvt Ltd</td><td>Satyam Exports</td></tr>
                                        <tr><td>Bhavani Roller Flours</td><td>Guru Amardas Pvt Ltd</td></tr>
                                        <tr><td>Createnet Services Ltd.</td><td>--</td></tr>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container-fluid">
                                        <div class="panel panel-info">
                                           
                                            <div class="panel panel-heading">Delhi</div>

                                            <div class="panel panel-body">
                                                <table>
                                                    <tr><td>Kanika Exports.</td><td>Radnik Exports.</td></tr>
                                                  
                                                    <tr><td>DPI Fashion Pvt Ltd.</td><td>Ashirbad Group of companies.</td></tr>
                                                   
                                                    <tr><td>Sawhny Global Creation.</td><td>SMS Exports.</td></tr>
                                                   
                                                    <tr><td>Paramount Products(P)Ltd.</td><td>Supreme Impex.</td></tr>
                                                   
                                                    <tr><td>Kansin Import Export(P)Ltd</td><td>Sonu Exim Pvt Ltd.</td></tr>
                                                    
                                                    <tr><td>Funbar Hospitality Pvt.Ltd.</td><td>Col. Kawab Resturant.</td></tr>
                                                   
                                                    <tr><td>Fashion Flare.</td><td>Shor Shot India(P)Ltd.</td></tr>
                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="panel panel-info">
                                           
                                            <div class="panel panel-heading">Gurgaon(HR)</div>

                                            <div class="panel panel-body">
                                                <table>
                                                    <tr><td>Pearl Global Industries.</td><td>Bharat Enterprises.</td></tr>
                                                   
                                                    <tr><td>Goel Exports.</td><td>Haritage Exports.</td></tr>
                                                  
                                                    <tr><td>Shivank Udyog Pvt.Ltd.</td><td>Sargam Exports Pvt.Ltd.</td></tr>
                                                   
                                                    <tr><td>Khullar Export Pvt.Ltd.</td><td>Evergreen Pvt.Ltd.</td></tr>
                                                   
                                                    <tr><td>Asin Handicraft Pvt.Ltd.</td><td>Ganga Overseas</td></tr>
                                                   
                                                    <tr><td>Sigma Corporation</td><td>TNR International.</td></tr>
                                                   
                                                    <tr><td>Noorvir Creations</td><td>Radnik Exports.</td></tr>
                                                   
                                                    <tr><td>Vimal Modular Pvt Ltd.</td><td>Saffron Tree.</td></tr>
                                                   
                                                    <tr><td>Kalamkari Designs.</td><td>Westpoint Exports.</td></tr>
                                                   
                                                    <tr><td>TCI Exim(P)Ltd.</td><td>Boby Creation(P)Ltd.</td></tr>
                                                   
                                                    <tr><td>Sigma Corporation Ltd</td><td>--</td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="panel panel-info">

                                            <div class="panel panel-heading">Faridabad(HR)</div>

                                            <div class="panel panel-body">
                                                <table>
                                                    <tr><td>Jiva Designs.</td><td>ATM Exports.</td></tr>

                                                    <tr><td>Kapkol Services Pvt Ltd.</td><td>Jaypee Exports.</td></tr>

                                                    <tr><td>Supreme Export.</td><td>Panorama Exports.</td></tr>

                                                    <tr><td>Regime Exports.</td><td>Sukara Enterprises.</td></tr>

                                                    <tr><td>BeekBee Exports.</td><td>Vamani Overseas</td></tr>

                                                    <tr><td>Mohan Overseas.</td><td>Contemporary Exports(P)Ltd</td></tr>

                                                    <tr><td>Haryana Textiles.</td><td>Yash Prints(P)Ltd.</td></tr>

                                                    <tr><td>Shivalik Prints Pvt Ltd</td><td>--</td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="panel panel-info">

                                            <div class="panel panel-heading">Agra(UP)</div>

                                            <div class="panel panel-body">
                                                <table>
                                                    <tr><td>KF Exports.</td><td>Virola International.</td></tr>

                                                    <tr><td>Diamond Exports.</td><td>HIT Exports.</td></tr>

                                                    <tr><td>OOM Exports.</td><td>Basant Overseas</td></tr>

                                                    <tr><td>Aanha Exports</td><td>Kundra International.</td></tr>

                                                    <tr><td>Firozabad Glass Industry</td><td>Sharma Industries Pvt Ltd.</td></tr>
                                                   
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="panel panel-info">

                                            <div class="panel panel-heading">Sonipat(HR)</div>

                                            <div class="panel panel-body">
                                                <table>
                                                    <tr><td>Manohar Filaments Pvt Ltd.</td><td>Chanda Steel.</td></tr>

                                                    <tr><td>Ketan Button.</td><td>Trisquire SwitchGears(P)Ltd</td></tr>

                                                    <tr><td>RS Prints Solutions.</td><td>Invention India.</td></tr>

                                                    <tr><td>Zeco Aircon(P)Ltd.</td><td>--</td></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="panel panel-info">

                                            <div class="panel panel-heading">Maharastra & Gujrat</div>

                                            <div class="panel panel-body">
                                                <table>
                                                    <tr><td>Sohel Impex Pvt Ltd.</td><td>Ken Enterprises.</td></tr>

                                                    <tr><td>Bharat Rasayan Ltd.</td><td>Creative Garments Pvt Ltd.</td></tr>


                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="panel panel-info">

                                            <div class="panel panel-heading">Rajasthan</div>

                                            <div class="panel panel-body">
                                                <table>
                                                    <tr><td>Evergreen Pvt Ltd.</td><td>Sunart Exporters.</td></tr>

                                                    <tr><td>Seat Kamal.</td><td>Sachdeva Exports.</td></tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container-fluid">
                                        <div class="panel panel-info">
                                            <div class="panel panel-heading">Punjab & Others</div>

                                            <div class="panel panel-body">
                                                <table>
                                                    <tr><td>Farmparts India(P)Ltd.</td><td>SKG Engineering.</td></tr>

                                                    <tr><td>Uniroyal India.</td><td>Uttam Sons(P)Ltd.</td></tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>


               </div>           @* <%-- panel ends here--%>*@


            </div>
        </div>



    </div>
</div>

