
@{
    ViewBag.Title = "Compliances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">Payroll Compliances</div>
        <div class="panel panel-body">
            <div class="col-md-12">
                <img src="~/Multimedia/Image/compliance.jpg" class="img-thumbnail" style="width:100%;height:200px;" />
                <h4 style="color:maroon;">Payroll Compliances</h4>
                <p style="text-align:justify;">Payroll compliance helps organisations demonstrate transparent behaviour.In order for businesses to stay in payroll compliance with wage and hour laws, employers need to accurately track employee time and information. Complex regulations like the Sarbanes-Oxley Act, FLSA, FMLA, Department of Labor laws, and internal policies like union rules can put organizations at risk for litigation and fines.
MMC supports management with proper administration of labor-intensive policies and regulations while improving payroll compliance with organizational policies and government requirements. Errors in data can leave any business vulnerable for a class action wage and hour lawsuit, which represent the majority of claims against employers.

Accurate payroll compliance is a very critical part of the success of your business. Management of cash flow is essential to your company's endurance. Payroll compliance is crucial to your organization's survival. Also, payroll accuracy is a key to employee satisfaction. Payroll compliance and payroll processing can take hours and hours each pay period. This does not include all the time spent trying to stay current with labor laws and business regulations.
</p>
                <strong style="color:maroon;">Compulsory Training for Employees</strong>
                <p style="text-align:justify;">It is important that each person involved understands the important role they play in linking every stage together. This is particularly important when implementing payroll software, as it will ensure that it is being used efficiently.</p>
                <strong style="color:maroon;">International Requirements</strong>
                <p style="text-align:justify;">Laws differ widely. For instance, in Mexico, employees must be registered with the same bank as their employer in order to receive their salary into their account. It is important you recognise the volume of in-country legislation and the internal policies you need in order to remain compliant.</p>
                <strong style="color:maroon;">Overtime Management</strong>
                <p style="text-align:justify;">
                    MMC empowers you to proficiently and successfully manage your payroll compliance information. MMC helps you to effectively manage and track all employee overtime. This ensures all your employees work within designated limits and are paid properly so that your risks are mitigated and you are in full payroll compliance.
                </p>
                <strong style="color:maroon;">MMC helps you with payroll compliance audits via:</strong>
                <ul>
                    <li>The consistent application of complex pay policies</li>
                    <li>Properly managing employee leaves</li>
                    <li>Tracking overtime</li>
                    <li>Powerful reporting</li>
                    <li>Audit trails</li>
                    <li>Achieving historical labor and wage data</li>
                    
                </ul>
            </div>

        </div>
    </div>
</div>