
@{
    ViewBag.Title = "DesktopApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">Desktop Application Development</div>
        <div class="panel panel-body">
            <div class="col-md-2 text-left"><img src="~/Multimedia/Image/desktop.png" class="img-thumbnail" style="width:100%;" /></div>
            <div class="col-md-10">
                <h4 style="color:maroon;">Desktop Payroll Solutions</h4>
                <p style="text-align:justify;">With desktop based payroll solutions we enables you to manage payroll in your own way, desktop base payroll erp is a very powerful tool to manage your employee's salary and statutory compliances.</p>
                <strong style="color:maroon;">Features</strong>
                <ul>
                    <li>Our Payroll System has user friendly interface, can be customized as per a business requirement and can be scalable.</li>
                    <li>Our Payroll system saves time and lowers the error ratio</li>
                    <li>You can enter payment information quicker when compared to a manual system</li>
                    <li>Run payroll registers to double-check your information before depositing salary in employee’s bank accounts. This allows you to identify errors and adjust them in advance</li>
                   
                </ul>
                <strong style="color:maroon;">Benifits</strong>
                <ul>
                    <li>Computerized payrolls simplify tax processing by computing the data</li>
                    <li>Our payroll system can integrate with other software's as well</li>
                    <li>Computerized payroll eliminates the stress of processing all the records</li>
                    <li>You can get your old payroll reports when you needed in just a click</li>
                    <li>Our payroll system will reduce TCO and increase ROI</li>
                    <li>This payroll system will track and maintain all the information of salary transfer</li>

                </ul>
            </div>
            
        </div>
    </div>
</div>

