
@{
    ViewBag.Title = "ESS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">Employee Self Service</div>
        <div class="panel panel-body">
            <div class="col-md-12">
                <img src="~/Multimedia/Image/ESS_social.jpg" class="img-thumbnail" style="width:100%;height:200px;" />
                <h4 style="color:maroon;">Employee Self Service</h4>
                <p style="text-align:justify;">Employee Self-Service (ESS) gives employees immediate access to all of their personal HR, benefits, and payroll information via the Web. The benefit of ESS is proven in the drastically reduced call volume to both the human resources and payroll departments. The amount of paperwork generated in traditional benefits enrollment is staggering.

HR managers and their teams can spend weeks on traditional manual open enrollment processes. Employee benefit software like ESS saves several weeks of your HR team’s time automating these processes and putting them into the hands of the employees through online open enrollment.

Employee management makes it easy to check and track human resources department at the press of a button. It makes the system easy to monitor and manage employees from different location. This system helps in supervising employees work report and productivity. Our employee management system includes a time tracking system that saves both time and money. These all features help at the time of employee appraisals.</p>
                <strong style="color:maroon">Features</strong>

                <ul>
                    <li>Employees can view their leave balances and request time off and see where their leave is in the approval process.</li>
                    <li>Employees can view and print current and prior pay information and their W2’s</li>
                    <li>Employees can create, change or delete direct deposit information</li>
                    <li>Employees can see an employee directory with pictures and also view any company related information</li>
                   
                </ul>
                <strong style="color:maroon">Benifits</strong>
                <ul>
                    <li>Easy to use</li>
                    <li>Fully customizable</li>
                    <li>Fully scalable</li>
                    <li>Ability to add employees, easily and flexibly</li>
                    <li>Reduces HR daily work, increases productivity, employee satisfaction, and a significant cost savings</li>
                    <li>Eliminate paper work. Go green</li>

                </ul>
                
            </div>

        </div>
    </div>
</div>