
@{
    ViewBag.Title = "HRMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">Human Resource Management Systems (HRMS).</div>
        <div class="panel panel-body">
            <div class="col-md-12">
                <img src="~/Multimedia/Image/2hrms.jpg" class="img-thumbnail" style="width:100%;height:200px;" />
                <h4 style="color:maroon;">Human Resource Management Systems (HRMS)</h4>
                <p style="text-align:justify;">Human Resource Management Systems (HRMS) or Human Resource Information systems (HRIS) or HR Technology shape an intersection between human resource management (HRM) and information technology. It merges HRM as a discipline and in particular it’s basic HR activities and processes with information technology.

The Human Resource Management System in the Government environment is a very complex system involving lots of rules and procedures. The HRMS system takes care of the two main functions Service Record Maintenance and Payroll Generation of employees.

The Payroll module automates the pay process by gathering data on employee time and attendance, calculating various deductions and taxes, and generating periodic pay cheques and employee tax reports. In Government, the pay bill is then submitted to Treasury for payment.
                    Human Resource Management Systems (HRMS) or Human Resource Information systems (HRIS) or HR Technology shape an intersection between human resource management (HRM) and information technology. It merges HRM as a discipline and in particular it’s basic HR activities and processes with information technology.

                    The Human Resource Management System in the Government environment is a very complex system involving lots of rules and procedures. The HRMS system takes care of the two main functions Service Record Maintenance and Payroll Generation of employees.

                    The Payroll module automates the pay process by gathering data on employee time and attendance, calculating various deductions and taxes, and generating periodic pay cheques and employee tax reports. In Government, the pay bill is then submitted to Treasury for payment.

                    The SR (Service Record) or Personnel Details Module is a component covering all other HR aspects from recording the details of new employee joining service to his retirement. The system records basic demographic and address data, training and development, capabilities and skills management records and other related activities. 
                </p>
                <strong style="color:maroon;">Feature & Benifits</strong>
                <ul>
                    <li>Only state in the country to have implemented total HRMS..</li>
                    <li>All category of officers/employees and different pay scales like State, Centre, UGC, AICTE, Judicial, Drawing salary from a centralized single platform.</li>
                    <li>Web-based application</li>
                    <li>24/7 availability</li>
                    <li>Secured access</li>
                    <li>Hosted In a state-of-the-art State Data Centre</li>
                    <li>Online help</li>
                    <li>Online error reporting & Monitoring</li>
                </ul>
            </div>

        </div>
    </div>
</div>