
@{
    ViewBag.Title = "MobileApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">Mobile Application Development</div>
        <div class="panel panel-body">
            <div class="col-md-2 text-left"><img src="~/Multimedia/Image/mobileapp.jpg" class="img-thumbnail" style="width:100%;height:200px;" /></div>
            <div class="col-md-10">
                <h4 style="color:maroon;">Mobile Payroll Solutions</h4>
                <p style="text-align:justify;">With mobile based payroll solutions we enables you to manage payroll in your own way, mobile base application is a very powerful tool to manage your employee's salary and statutory compliances.</p>
                <strong style="color:maroon;">Features</strong>
                <ul>
                    <li>Employees can view their leave balances and request time off and see where their leave is in the approval process.</li>
                    <li>Employees can view and print current and prior pay information and their W2’s</li>
                    <li>Employees can create, change or delete direct deposit information</li>
                    <li>Employees can see an employee directory with pictures and also view any company related information</li>
                   
                </ul>
                <strong style="color:maroon;">Benifits</strong>
                <ul>
                    <li>Easy to use</li>
                    <li>Fully customizable</li>
                    <li>Fully scalable</li>
                    <li>Ability to add employees, easily and flexibly</li>
                    <li>Reduces HR daily work, increases productivity, employee satisfaction, and a significant cost savings</li>
                    <li>Eliminate paper work. Go green</li>
                </ul>
            </div>

        </div>
    </div>
</div>
