
@{
    ViewBag.Title = "Payroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">Payroll Management System</div>
        <div class="panel panel-body">
            <div class="col-md-12">
                <img src="~/Multimedia/Image/payrollGlass.jpg" class="img-thumbnail" style="width:100%;height:200px;" />
                <h4 style="color:maroon;">Payroll Management System</h4>
                <p style="text-align:justify;">
                    Outsourcing your payroll function can save time and money. More and more organisations are placing their trust in MMC Software to deliver payroll as a bureau, outsourced, part managed or fully-managed service.
                    MMC Software provides payroll services to more than 200 clients – from smaller organisations to those with 70,000+ employees. Our client base extends across all market sectors in countries where we operate.
                </p>
                <strong style="color:maroon">Any sector – we have a solution</strong>
                <p style="text-align:justify;">One of our fastest growing specialist areas, MMC Software Payroll Services offers traditional ‘process and deliver’ type bureau arrangements through to outsourced and fully-managed service contracts.

Your business will enjoy all the accessibility, flexibility and control of processing payroll in-house – without having to allocate your staff, equipment, time and resources to manage it. And when it comes to reliability, accuracy, efficiency and flexibility, our people can be relied upon to ensure the timely payment of yours.</p>

                <strong style="color:maroon">Consider the Advantages</strong>

                <ul>
                    <li>Secure online access to payroll data, HR and accounting data.</li>
                    <li>Service options to meet the level demanded by your business</li>
                    <li>Service located at your premises or ours</li>
                    <li>Automatic updates in accordance with changes in legislation</li>
                    <li>Minimises administration and free-up people and equipment</li>
                    <li>Unlimited Helpdesk support</li>
                    
                </ul>
                <strong style="color:maroon">On-line access</strong>
                <p style="text-align:justify;">Wherever you are within your company network and no matter how many users require access then, subject to security, our databases are accessible on-line. Of course the Internet can also extend the reach of your organisation where the bandwidth is not of a suitable size. In summary, MMC Software has a solution.</p>

                <strong style="color:maroon">Statutory Updates</strong>
                <p style="text-align:justify;">A mandatory clause within service agreements is that statutory updates must be provided. MMC Software continues to perform this task.</p>

                <strong style="color:maroon">Support</strong>
                <p style="text-align:justify;">Depending upon service agreements, we have a support solution to benefit your organisation. The range extends from software hot line support to becoming an arm of your payroll department. Organisations depend upon us to provide a first class support service.</p>

                <strong style="color:maroon">Multi Country Payroll</strong>
                <p style="text-align:justify;">MMC Software provides a payroll service for countries where we have developed a solution to meet the countries’ statutory payroll requirements. MMC Software can offer a global database extending to any country where you operate or if preferred a single country database. The key to our service and success is flexibility.</p>

                <strong style="color:maroon">Payslips</strong>
                <p style="text-align:justify;">Within our product portfolio, many options exist for the production of payslips. Security payslips, A4 laser printed or displayed from within the HR21 self service module are all options that you can choose. Our standard set of payroll designs have been accepted by our clients throughout the world.</p>

                <strong style="color:maroon">Qualified Experience</strong>
                <p style="text-align:justify;">MMC Software professionals are well-qualified and experienced in all aspects of payroll administration and management. Many are former payroll managers with formal qualifications.</p>

                <strong style="color:maroon">BCP (Business Continuity Process) and Disaster Recovery</strong>
                <p style="text-align:justify;">MMC Software provides a full BCP and disaster recovery service and has adopted an aggressive BCP policy of ensuring that disaster recovery procedures are in place and regularly tested. Alternate hardware servers come into operation if one server becomes faulty.</p>

                <strong style="color:maroon">Service Agreements</strong>
                <ul>
                    <li><strong>Payroll Bureau :</strong>Simply email employee details and / or payslip information to our processing centre and we do the rest. Payroll reports and payslips can either be emailed direct, or printed and couriered to a designated office and we send net pay details to your bank for processing.</li>
                    <li><strong>Part Managed :</strong>Direct access to your dedicated HR and Payroll database allows viewing / amendment of details at any time. Once processed, there is immediate, online access to payroll information and reports.</li>
                    <li><strong>Fully Managed:</strong>MMC Software Payroll Services becomes your payroll office and will handle all data import and processing. We answer statutory queries and make third-party payments. The database resides in a secure environment: either at our processing centre or at your offices.</li>
                    
                </ul>
                <p style="text-align:justify;">Suitable for all industries, precise service terms can be tailored to your requirements and we can include access to our full product range.</p>
            </div>

        </div>
    </div>
</div>