
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-info">
        <div class="panel panel-heading">Our Privacy Policy :</div>
        <div class="panel-body">
            <h3><u>Privacy Policy</u></h3>
            <strong style="text-align:justify;">Our privacy program is governed by policies and procedures with adherence to a self-regulatory program.</strong>
            <p style="color:maroon;">MMC collects, processes, and stores personal information submitted voluntarily :</p>
            <p>To determine, evaluate and implement employment-related actions and obligations.</p>
            <p>To collect and store customer information.</p>
            <p style="text-align:justify;">To maintain business records that relate to past, present, and potential customers, suppliers, contractors, and other business associates and employees.</p>
            <strong>Names and Email Addresses</strong>
            <p style="text-align:justify;">Whenever you contact us, we use the information you give us to know more about you which helps in replying better to your feedback. The names and email addresses you give us are NOT sold, compiled into any type of mailing list, or otherwise used for any type of email solicitation.</p>
            <strong>Contact MMC About Your Information</strong>
            <p style="text-align:justify;">If you have any questions about this privacy statement, the practices of this site, or your dealings with this Web site, please send an email us at <a href="mailto:info@mmcsoftsystems.in">info@mmcsoftsystems.in</a> with the word "privacy" in the subject field:</p>
            <strong>Security</strong>
            <p style="text-align:justify;">This website takes every precaution to protect our users’ information.</p>
            <strong>Changes To This Policy</strong>
            <p style="text-align:justify;">MMC reserves the right to change, amend, or update this Privacy & Security Policy upon prior notice posted on this Site. Continued use of this Site after such notification indicates your consent to use of your information in accordance with the changed, amended, or updated Privacy & Security Policy.</p>

        </div>
    </div>
</div>